.container{
    position: relative;
}

.addToCart{
    width: 160px;
    height: 44px;
    white-space: nowrap;
    gap: 8px;
    border-radius: 999px;
    border: 1px solid var(--color-rose-400, #AD8A85);
    background-color: var(--color-white, #FFF);
    color: var(--color-rose-900, #260F08);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -15px;
    margin: auto;
    cursor: pointer;
}

.addToCart:hover{
    border: 1px solid #C73B0F;
    color: #C73B0F;
}

.addToCart > img{
    width: 20px;
    height: 20px;
}

@media(max-width: 1280px){
    .addToCart{
        width: 69%;
    }
}

@media(max-width: 740px){
    .addToCart{
        transition: all 0.2s linear, width 0s;
        width: 160px;
    }
}

@media(max-width: 600px){
    .item_image{
        border-radius: 8px;
    }
}
