.quantity{
    width: 160px;
    display: flex;
    height: 44px;
    padding: 0px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 999px;
    background: var(--color-red, #C73B0F);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -15px;
    margin: auto;
    color: var(--color-white, #FFF);
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.quantity > button{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: #C73B0F;
    cursor: pointer;
}

.minus{
    width: 10px;
    height: 2px;
    flex-shrink: 0;
    background-color: white;
    mask-image: url('./icons/icon-decrement-quantity.svg');
    -webkit-mask-image: url('./icons/icon-decrement-quantity.svg');
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: 10px 2px;
    -webkit-mask-size: 10px 2px;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.plus{
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    background-color: white;
    mask-image: url('./icons/icon-increment-quantity.svg');
    -webkit-mask-image: url('./icons/icon-increment-quantity.svg');
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: 10px 10px;
    -webkit-mask-size: 10px 10px;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.quantity > button:hover{
    background-color: white;
}

.quantity > button:hover > .minus{
    background-color: #C73B0F
}

.quantity > button:hover > .plus{
    background-color: #C73B0F
}

@media(max-width: 1280px){
    .quantity{
        transition: all 0.2s linear, width 0s;
        width: 69%;
    }
}

@media(max-width: 740px){
    .quantity{
        width: 160px;
    }
}